/* Positions */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* Layout */
.inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

/* Alignment */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-top {
  vertical-align: top;
}

/* Weights */
.light {
  font-weight: $light;
}

.regular {
  font-weight: $normal;
}

.bold {
  font-weight: $bold;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

/* Transform */
.uppercase {
  text-transform: uppercase;
}

/* Hide/show */
.is-hidden{
  visibility: hidden;
}

/* Floats */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}