@media (min-width: $smartphone-landscape) {

  .table-grid {
    display: table;
    width: 100%;
    &--fixed{
      table-layout: fixed;
    }
  }

  [class*="table-grid-"],.table-cell{
    display: table-cell;
  }

  /* Set the widths */
  .table-grid-1 { width: 8.333333%; }
  .table-grid-2 { width: 16.666667%; }
  .table-grid-3 { width: 25%; }
  .table-grid-4 { width: 33.333333%; }
  .table-grid-5 { width: 41.666667%; }
  .table-grid-6 { width: 50%; }
  .table-grid-7 { width: 58.333333%; }
  .table-grid-8 { width: 66.666667%; }
  .table-grid-9 { width: 75%; }
  .table-grid-10 { width: 83.333333%; }
  .table-grid-11 { width: 91.666667%; }
  .table-grid-12 { width: 100%; }

  /* Padded columns */
  .grid-padded {
    margin-left:  -1rem;
    margin-right: -1rem;
  }
  .grid-padded .grid {
    border-spacing: 1rem 0;
  }
}