/*
 * Sets the base font to 10px for easier math
 */
html {
  font-size: 62.5%;
}

/*
 * Sets the default sizing to make sure nothing is actually 10px
 */
body {
  font-size: 16px;
  font-size: 1.6rem;

  /*
   * Force Antialiased
   */
   -webkit-font-smoothing: antialiased;
}

/*
 * Voodoo to enable ligatures and kerning
 */
h1,h2,h3,h4,h5,h6{
	text-rendering: optimizeLegibility;
}

/*
 * Parapgraph line height
 */
 p{
 	line-height: 1.75;
 }