# Node
.npm/node_modules
**/*.log

# Bower
/bower_components

# Folders
**/tmp
**/dist

# Compiled files
css/main.css
js/plugins.js

# sourceMap files
**/*.map

# Ignore IDE settings
/.idea

# photoshop files
**/*.psd

# Auth files
.ftppass